@media screen and (max-width: 1000px) {
    .menu-top {
        display: flex;
    }
    .menu-soc {
        display: flex;
    }
    .header {
        height: 55px;
    }
    .header__text, .header__link, .header__search, .header__phone .link {
        display: none;
    }
    .header__phone {
        margin-left: auto;
    }
    .header__phone .number svg {
        fill: #444444;
    }
    .header__logo {
        width: 65px;
        height: 30px;
        margin-left: 12px;
        margin-right: 0;
    }
    .header__burgir {
        display: flex;
    }
    .aside__nav {
        display: none;
    }
    .menu-mobile {
        display: block;
        width: calc(100% - 48px);
        position: absolute;
        top: -200%;
        z-index: 999;
        right: 0;
        background-color: #fff;
        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
        transition: all.3s linear;
    }
    .menu-mobile.active {
        top: 0;
    }
    .menu-mobile li a::after {
        display: none;
    }
    .footer__box {
        flex-direction: column;
    }
    .footer__left {
        width: 100%;
        margin-bottom: 14px;
    }
    .footer__logo {
        order: -4;
        margin-bottom: 22px;
    }
    .footer__phone {
        order: -3;
        margin-bottom: 17px;
        text-align: start;
    }
    .footer__phone a {
        margin-left: 24px;
        margin-top: 15px;
    }
    .footer__phone div p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .footer__email {
        order: -2;
        margin-bottom: 20px;
    }
    .footer__email a {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .footer__map {
        width: 100%;
        order: -1;
        margin-bottom: 30px;
    }
    .footer__map p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .footer__soc {
        width: 80%;
    }
    .footer__soc a {
        width: 36px;
        height: 36px;
    }
    .footer__soc a svg {
        width: 100%;
        height: 100%;
    }
    .footer__copy {
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
    }
    .footer__right a {
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
    }
    .footer__right div {
        width: 144px;
    }
    .main .container {
        padding: 0;
    }
    .main__box {
        flex-direction: column;
        padding-top: 0;
    }
    .aside {
        width: 100%;
        background: #E1E1E1;
        padding: 28px 18px 23px;
    }
    .page {
        width: 100%;
        order: -1;
        padding: 0 0 34px;
    }
    .page__news_box {
        display: none;
    }
    .page__block {
        padding: 36px 16px 0;
    }
    .bannner {
        height: 220px;
    }
    .banner__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        background: transparent;
        box-shadow: none;
        opacity: 1;
    }
    .banner__block h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        text-align: center;
        border: none;
        padding-bottom: 0;
    }
    .banner__block p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #444444;
        text-align: center;
    }
    .page__block .img-banner {
        height: 150px;
    }
    .page__block h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 14px;
    }
    .page__block h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 14px;
    }
    .page__block h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 14px;
    }
    .page__block h4 {
        font-weight: bold;
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 14px;
    }
    .page__block p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    .aside h3 {
        text-align: center;
    }
    .aside a.all_news {
        margin-bottom: 0;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #000000;
    }
    .crumbs {
        margin-bottom: 14px;
    }
    .about-us, .article, .contacts, .news, .gallery, .photo, .question, .review, .search {
        padding: 30px 16px 0px;
    }
    .gallery .gallery {
        padding: 0;
    }
    .about-us__block .img {
        height: 150px;
    }
    .about-us h2, .article h2, .contacts h2, .news h2, .gallery h2, .photo h2, .review__box, .search h2 {
        margin-bottom: 24px;
    }
    .article__box {
        flex-direction: column;
    }
    .article__box .img {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
    .article__box .img {
        margin-bottom: 14px;
    }
    .article__title .date {
        background-color: #374FC7;
        color: #fff;    
        padding: 4px 8px;
    }
    .contacts__box {
        flex-direction: column;
    }
    .contacts__phone {
        margin: 0;
        margin-bottom: 24px;
    }
    .contacts__mail {
        margin-bottom: 24px;
    }
    .contacts__map {
        margin-bottom: 24px;
    }
    .contacts__phone .img, .contacts__mail .img, .contacts__map .img {
        min-width: 24px;
        min-height: 24px;
        width: 24px;
        height: 24px;
        margin-right: 6px;
        margin-top: 6px;
    }
    .contacts__block {
        padding-top: 0;
        width: calc(100% - 30px);
    }
    .form__box {
        flex-direction: column;
        margin-bottom: 24px;
    }
    .form__block {
        width: 100% !important;
    }
    .form__box .check {
        margin-bottom: 14px;
    }
    .news__box {
        flex-direction: column;
    }
    .aside__news {
        border-radius: 5px;
        overflow: hidden;
    }
    .aside__news h5 {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 17px;
    }
    .aside__news p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    .aside__news span.date {
        height: 30px;
        top: 165px;
    }
    .aside__news .img {
        height: 180px;
        margin-bottom: 32px;
    }
    .news__box .aside__news {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 16px;
    }
    .gallery .row.grid {
        flex-direction: column;
    }
    .gallery .isotope-card {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 16px;
    }
    .photo__box {
        flex-direction: column;
    }
    .photo__box .aside__news {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 16px;
    }
    .review__box {
        flex-direction: column;
    }
    .question .btn, .review .btn {
        width: 100%;
        margin-top: 12px;
    }
    .question__block, .answer__block {
        padding: 14px;
    }
    .question__block .img {
        min-width: 30px;
        margin-right: 12px;
    }
    .answer__block .img {
        min-width: 30px;
        margin-left: 12px;
    }
    .question__block .img img, .answer__block .img img {
        width: 100%;
    }
    .answer__title p {
        text-align: start;
    }
    .review__block {
        padding: 16px;
    }
    .modal__block {
        width: 90%;
        padding: 16px;
    }
    .modal__box {
        flex-direction: column;
    }
    .modal__box .btn {
        margin-top: 12px;
        width: 100%;
    }
    .modal__box .modal__close {
        top: 16px;
        right: 16px;
    }
    .menu-mobile {
        margin-bottom: 0;
        padding: 11px 45px 24px 36px;
    }
    .menu-mobile li a {
        padding: 13px 1px;
    }
}